      *{
        margin: 0;
        padding: 0;
      }
      body{
        background-color: #f7f7f7;
      }
      .top{
        margin-top: 150px;
      }
      .div-left{
        width: 200px;
        margin: 150px auto;
      }
      img{
        width: 100px;
        height: 100px;
        margin-left: 100px;
        margin-bottom: 20px;
      }
      .title{
        text-align: center;
        margin-bottom: 30px;
      }
      /*h3{
        font-family: lisu;
      }
      .h3{
        margin-left: 80px;
        width: 120px;
        font-family: lisu;
      }*/
      .div-right{
        background-color: #ffffff;
        width: 350px;
        padding: 0 25px 25px 25px;
        margin: 30px auto;
        border-style: solid;
        border-width: 0.8px;
        border-radius: 5px;
        border-color: #dddddd;
      }
      .mybtn{
        width: 100px;
        margin-left: 100px;
        margin-top: 15px;
      }
      .a-get{
        font-size: 10px;
      }
      .la-a-get{
        margin-top: 10px;
        margin-left: 210px;
      }
      .foot{
        margin: 140px auto 0;
        text-align: center;
        color: #d0d0d0;
      }